# Ignore all build folders recursively
**/build/

# Ignore all cache directories recursively
**/.cache/

# Ignore raw class diagram files
*.cd

# OS/editor temp files
.DS_Store
Thumbs.db
*.swp
*.tmp

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake
**/*.dir/
Makefile
Testing/
CTestTestfile.cmake

# IDE artifacts
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates